@font-face {
  font-family: Odor Mean Chey;
  src: url(../font/OdorMeanChey-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Odor Mean Chey, serif;
}

.list-group-item {
  cursor: pointer;
  /* border: none !important; */
}

.active {
  background-color: var(--bs-list-group-action-active-bg) !important;
  color: var(--bs-list-group-action-active-color) !important;
  border-color: var(--bs-list-group-border-color) !important;
  /* border: none !important; */
}

#def {
  margin-top: 70px;
}

.head-title {
  background-color: #0d1460;
}
