@font-face {
  font-family: Odor Mean Chey;
  src: url(../font/OdorMeanChey-Regular.ttf);
}
@font-face {
  font-family: Poppins Regular;
  src: url(../font/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(../font/Poppins-Medium.ttf);
}

body {
  font-family: Poppins Regular;
}

#app {
  font-family: Poppins Regular !important;
}

#def {
  margin-top: 70px;
  font-family: Odor Mean Chey !important;
}

.subWord {
  font-family: PoppinsMedium !important;
}

.list-group-item {
  cursor: pointer;
}

.active {
  background-color: var(--bs-list-group-action-active-bg) !important;
  color: var(--bs-list-group-action-active-color) !important;
  border-color: var(--bs-list-group-border-color) !important;
}

.head-title {
  background-color: #0d1460;
}
